# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# IDEA stuff
.idea

# IDK what this is
pizar-site.iml
